/* Write your global styles here, in SCSS syntax. Variables and mixins from the src/variables.scss file are available here without importing */
/* Import only what you need from Bulma */
@import 'bulma/sass/utilities/_all';
@import 'bulma/sass/base/_all';
@import 'bulma/sass/elements/_all';
@import 'bulma/sass/form/_all';
@import 'bulma/sass/components/_all';
@import 'bulma/sass/grid/_all';
@import 'bulma/sass/helpers/_all';
@import 'bulma/sass/layout/_all';


@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque');

$family-primary: "Darker Grotesque";

.svelvet-node {
    box-shadow: none !important;
}

.navbar_bg {
    background: linear-gradient(69deg, $primary 0%, $info 100%) !important;
}

.selected {
    background-color: $primary;
}

.not-selected {
    background-color: $dark;
}

.marker {
    width: 2em;
    height: 2em;
    border-radius: 50%;
}

.marker:hover {
    // change mouse pointer
    cursor: pointer;
    background-color: $info;
    width: 3em;
    height: 3em;
    transition: 150ms ease-in-out;
}