/* Variables and mixins declared here will be available in all other SCSS files */
/* https://github.com/jgthms/bulma/issues/1293 */
$body-overflow-y: auto;

$primary: #ff6536;
$dark: #798897;
$link: #006AC6;
$info: #006AC6;
$light: #F3EED9;